<h1>Edit Your Workout</h1>
<br>
<% if @errors %>
    <% @errors.each do |e| %>
    <h6> <%= e %> </h6>
    <%end%>
<%end%>

<%= form_for @workout, url: workout_path do |w| %>
    <div>
        <%= w.label :title %>
        <%= w.text_field :title %>
    </div>

    <div>
        <%= w.label :muscle %>
        <%= w.text_field :muscle %>
    </div>

    <%= w.submit "Submit" %>
    <% end %>
    <br>
    <br>
    Only Creator Can Edit Workout
    <br>
    Created by <%= @workout.user.username%>