<h5> Exercise: <%= @workout.title %> </h5>
<h5> Muscle: <%= @workout.muscle %> </h5>

<% if @current_user.workouts.include? @workout %>
  <%= link_to "Edit Workout", edit_user_workout_path(@current_user, @workout) %> 
  <br>
  <%= link_to "Delete Workout", workout_path(@workout), method: "delete" %> 
<% end %>
<br>
<br>
Created by <%= @workout.user.username%>