<h1> Sign Up!</h1>
<br>
<% if flash[:notice] %>
<h6><%= flash[:notice] %></h6>
<%end%>
<br>
    <%= form_for @user, url: "/register" do |t|%>
        <%= t.label "Username:" %>
        <%= t.text_field :username %>

        <%= t.label "Password:" %>
        <%= t.password_field :password_digest %>
        <%= t.submit "Sign Up!" %>
    <% end %>