<h1>Signup Page</h1>

<% if @errors %>
    <% @errors.each do |e| %>
    <h1> <%= e %> </h1>
    <%end%>
<%end%>

<%= form_for @user do |f| %>
    <div>
        <%= f.label :username %>
        <%= f.text_field :username %>
    </div>

    <div>
        <%= f.label :password %>
        <%= f.text_field :password_digest %>
    </div>

    <%= f.submit "Signup" %>

    <% end %>
